@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  /* Background Color */
  --bg-danger: #f63440;
  --bg-white: #fff;
  --bg-light-white: #f5f5f5;

  /* Text Color */
  --primary-font: "Poppins", sans-serif;
  --text-white: #fff;
  --text-black: #121212;
  --text-danger: #f63440;
  --text-gray: #aaa;
  --text-dark-gray: #777;
}
body {
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  background: var(--bg-white);
  color: var(--text-black);
  overflow-x: hidden;
}
.spb {
  border: 1px solid whitesmoke;
  border-radius: 10px;
}
.carousel-control-next,
.carousel-control-prev {
  opacity: 0.1;
  background: black;
}
.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.2;
}
.star_clr {
  color: gold;
  font-size: 1.2rem;
}
.h2style {
  font-weight: 600;
  color: grey;
}
.price {
  display: flex;
}
.tag {
  font-size: 2rem;
  padding-right: 2rem;
}
.regular {
  text-decoration: line-through;
  font-size: 1.5rem;
  padding-right: 1rem;
}
.offer {
  color: red;
  font-size: 2rem;
  font-weight: 500;
}
.spec {
  color: grey;
  font-size: 1.4rem;
  font-weight: 500;
}
.spec_det {
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
}
.tab-content {
  border-bottom: 1px solid #dde2e6;
  border-right: 1px solid #dde2e6;
  border-left: 1px solid #dde2e6;
  border-radius: 2px;
}
.tab-pane {
  margin: 0rem 1rem 1rem 1rem;
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* rating */
.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  margin-top: 10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {
  width: 60%;
  height: 18px;
  background-color: #04aa6d;
}
.bar-4 {
  width: 30%;
  height: 18px;
  background-color: #2196f3;
}
.bar-3 {
  width: 10%;
  height: 18px;
  background-color: #00bcd4;
}
.bar-2 {
  width: 4%;
  height: 18px;
  background-color: #ff9800;
}
.bar-1 {
  width: 15%;
  height: 18px;
  background-color: #f44336;
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side,
  .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}
/* scroll  */
/* width */
.tab-pane::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.tab-pane::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
.tab-pane::-webkit-scrollbar-thumb {
  background: rgb(75, 42, 42);
  border-radius: 5px;
}

/* Handle on hover */
.tab-pane::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}

/* related product */
.rp {
  height: 16vh;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 6px;
  box-shadow: 0px 5px 7px 0px #f3eded;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.rp:hover {
  box-shadow: 0px 1px 1px 0px #f3eded;
  transition: 0.2s ease-in;
}
.star_clr2 {
  font-size: 0.6rem;
  color: gold;
}
.lt {
  text-decoration: line-through;
}
